# python sets

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

# Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

# Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

# Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

In [2]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
print(set)

{'cherry', 'mango', 'orange', 'berry', 'apple'}

# Duplicates Not Allowed

Sets cannot have two items with the same value.

In [3]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
print(set)

{'cherry', 'mango', 'orange', 'berry', 'apple'}

# Length of a Set

To determine how many items a set has, use the len() function.

In [4]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
print(len(set))

5

# Data Types

Set items can be of any data type:

In [5]:
set1 = {"apple", "orange","mango","cherry"}
set2 = {1,2,3,4,5,6,7,8,9,10}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'orange', 'apple', 'cherry', 'mango'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{False, True}

# type()

From Python's perspective, sets are defined as objects with the data type 'set':

In [6]:
set1 = {"apple", "orange","mango","cherry"}
set2 = {1,2,3,4,5,6,7,8,9,10}
set3 = {True, False, False}
print(type(set1))
print(type(set2))
print(type(set3))

<class 'set'>
<class 'set'>
<class 'set'>

# set() Constructor

It is also possible to use the set() constructor to make a set.

# Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [7]:
set = (("apple", "orange", "cherry","berry","mango","cherry"))
print(set)

('apple', 'orange', 'cherry', 'berry', 'mango', 'cherry')

# Access Set Items

# Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [8]:
set = (("apple", "orange", "cherry","berry","mango","cherry"))
for x in set:     #You cannot access items in a set by referring to an index or a key.
  print(x)      #But you can loop through the set items using a for loop

apple
orange
cherry
berry
mango
cherry

In [9]:
set = (("apple", "orange", "cherry","berry","mango","cherry"))
print("apple" in set)                                     #if a specified value is present in a set, by using the in keyword.

True

# Add items

To add one item to a set use the add() method.

In [10]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
set.add("orange")
print(set)

{'cherry', 'mango', 'orange', 'berry', 'apple'}

# add sets

To add items from another set into the current set, use the update() method.

In [11]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
tropical = {"pineapple", "mango", "papaya"}

set.update(tropical)
print(set)

{'pineapple', 'cherry', 'mango', 'orange', 'berry', 'apple', 'papaya'}

# Add Any Iterable

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [12]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
mylist = ["kiwi", "orange"]
set.update(mylist)
print(set)

{'cherry', 'mango', 'orange', 'kiwi', 'berry', 'apple'}

# Remove Item

To remove an item in a set, use the remove(), or the discard() method.

In [13]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
set.remove("orange")
print(set)

{'cherry', 'mango', 'berry', 'apple'}

discard()

Remove "banana" by using the discard() method:

In [14]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
set.discard("orange")
print(set)

{'cherry', 'mango', 'berry', 'apple'}

# pop()

Remove the last item by using the pop() method:

In [17]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
set.pop()
print(set)

{'mango', 'orange', 'berry', 'apple'}

# clear()

The clear() method empties the set:

In [18]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
set.clear()
print(set)

set()

# del

The del keyword will delete the set completely:

In [19]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
del set
print(set)

<class 'set'>

# loop items

You can loop through the set items by using a for loop:

In [20]:
set = (("apple", "orange", "cherry","berry","mango","cherry"))
for x in set:     
  print(x)

apple
orange
cherry
berry
mango
cherry

# Join Two Sets

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

union()

The union() method returns a new set with all items from both sets:

In [21]:
set1 = {"a", "b" , "c","d","e"}
set2 = {1, 2, 3,4,5,6,7,8,9,10}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 'e', 'c', 5, 6, 7, 8, 9, 10, 'd', 'b', 'a'}

update

The update() method inserts the items in set2 into set1:

In [23]:
set1 = {"a","b","c","d","e"}
set2 = {1,2,3,4,5,6,7,8,9,10}
set1.update(set2)

print(set1)

{1, 2, 3, 4, 'e', 'c', 5, 6, 7, 8, 9, 10, 'd', 'b', 'a'}

# Keep ONLY the Duplicates

# intersection_update()

The intersection_update() method will keep only the items that are present in both sets.

In [24]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
tropical = {"pineapple", "mango", "papaya"}
set.intersection_update(tropical)
print(set)

{'mango'}

intersection()

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [1]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
tropical = {"pineapple", "mango", "papaya"}
x=set.intersection(tropical)
print(x)

{'mango'}

# Keep All, But NOT the Duplicates

symmetric_difference_update

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [27]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
tropical = {"pineapple", "mango", "papaya"}
set.symmetric_difference_update(tropical)
print(set)

{'pineapple', 'cherry', 'orange', 'berry', 'apple', 'papaya'}

symmetric_difference()

The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [28]:
set = {"apple", "orange", "cherry","berry","mango","cherry"}
tropical = {"pineapple", "mango", "papaya"}
x=set.symmetric_difference(tropical)
print(x)

{'apple', 'papaya', 'pineapple', 'cherry', 'orange', 'berry'}