# python operators

Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

# arthematic operators

Arithmetic operators are used with numeric values to perform common mathematical operations:

addition

In [1]:
a=55
b=7
print(a+b)

62

subtraction

In [2]:
a=55
b=7
print(a-b)

48

multiplication

In [3]:
a=55
b=7
print(a*b)

385

division

In [4]:
a=55
b=7
print(a/b)

7.857142857142857

modulus

In [5]:
a=55
b=7
print(a%b)

6

exponentiation

In [6]:
a=55
b=7
print(a**b)

1522435234375

floor division

In [7]:
a=55
b=7
print(a//b)

7

# assignment operators

Assignment operators are used to assign values to variables:

In [8]:
a=10
print(a)

10

In [9]:
a=10
a+=2
print(a)

12

In [10]:
a=10
a-=2
print(a)

8

In [11]:
a=10
a*=2
print(a)

20

In [12]:
a=10
a/=2
print(a)

5.0

In [13]:
a=10
a%=2
print(a)

0

In [14]:
a=10
a**=2
print(a)

100

In [15]:
a=10
a//=2
print(a)

5

In [16]:
a=10
a&=2
print(a)

2

In [17]:
a=10
a|=2
print(a)

10

In [18]:
a=10
a^=2
print(a)

8

In [19]:
a=10
a<<=2
print(a)

40

In [20]:
a=10
a>>=2
print(a)

2

# comparision operators

Comparison operators are used to compare two values:

equal to operator

In [21]:
x = 10
y = 55

print(x == y)

False

not equal

In [22]:
x = 5
y = 3

print(x != y)

True

greater than

In [23]:
x = 5
y = 3

print(x > y)

True

less than

In [24]:
x = 5
y = 3

print(x < y)

False

greater than or equal to

In [25]:
x = 5
y = 3

print(x >= y)

True

less than or equal to

In [26]:
x = 5
y = 3

print(x <= y)

False

# logical operators

Logical operators are used to combine conditional statements:

and

In [27]:
x = 10

print(x > 5 and x < 10)

False

or

In [28]:
x = 10

print(x > 5 or x < 10)

True

not

In [30]:
x = 10

print(not(x > 5 and x < 10))

True

# identity operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

is

In [31]:
x = [1,2,3,4,5]
y = [1,3,4,5,6]
z = x

print(x is z)

# returns true

print(x is y)

# returns False because x is not the same as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==":

True
False
False

is not

In [32]:
x = [1,2,3,4,5]
y = [1,3,4,5,6]
z = x

print(x is not z)

# returns false

print(x is not y)

# returns true because x is not the same as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is" and "==":

False
True
True

# membership operators

Membership operators are used to test if a sequence is presented in an object:

in

In [33]:
x = ["apple", "orange"]

print("apple" in x)

True

not in

In [34]:
x = ["apple", "orange"]

print("apple" not in x)

False

# bitwise operators

Bitwise operators are used to compare (binary) numbers:

In [37]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100
print (" Value of c is ", c)

c = a | b;        # 61 = 0011 1101 
print(" Value of c is ", c )

c = a ^ b;        # 49 = 0011 0001
print (" Value of c is ", c)

c = ~a;           # -61 = 1100 0011
print (" Value of c is ", c)

c = a << 2;       # 240 = 1111 0000
print (" Value of c is ", c)

c = a >> 2;       # 15 = 0000 1111
print (" Value of c is ", c)

 Value of c is  12
 Value of c is  61
 Value of c is  49
 Value of c is  -61
 Value of c is  240
 Value of c is  15